{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comments list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                <td>{{ comment.author }}</td>
                <td>{{ comment.description }}</td>
                <td>
                    <ul style="display: flex; flex-direction: row;">
                        <li style="list-style: none;">
                            <a class="btn btn-info" href="{{ path('comment_show', { 'id': comment.id }) }}">show</a>
                        </li>
                        <li style="list-style: none;">
                            <a class="btn btn-warning" href="{{ path('comment_edit', { 'id': comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
