{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Priority</th>
            <th>Createdat</th>
            <th>Updatedat</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>
                    {% if task.image %}
                        <a href="{{ path('task_show', { 'id': task.id }) }}">
                            <img src="{{ asset('uploads/images/' ~ task.image) }}" alt="{{ asset(task.image) }}" />
                        </a>
                    {% endif %}
                </td>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.name }}</a></td>
                <td>{{ task.priority }}</td>
                <td>{% if task.createdAt %}{{ task.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if task.updatedAt %}{{ task.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul style="display: flex; flex-direction: row; list-style: none;">
                        <li>
                            <a class="btn btn-info" href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-success" href="{{ path('task_new') }}">Create a new task</a>

{% endblock %}
