{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_row(form.image) }}
        <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}


            <a class="btn btn-danger" href="{{ path('task_index') }}">Back to the list</a>

{% endblock %}
